*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

input{
  display: inline;
  box-sizing: border-box;
  font-size: 1.2em;
  width: 100%;
}

textarea{
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  width: calc(100% - 10px);
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6{
  display: inline-block;
}

label{
  margin: 0 40px 0 10px;
}

.form {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  /* For large screen: */
  .sidebar{
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgb(36, 41, 46);
    color: white;
  }
  .main{
    display: block;
    position: absolute;
    margin-left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 768px) {
  /* For small screen: */
  .sidebar{
    display: block;
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: rgb(36, 41, 46);
    color: white;
  }
  .main{
    display: block;
    position: absolute;
    margin-left: 150px;
    height: 100%;
    width: calc(100% - 150px);
    overflow: auto;
  }
}

.statusbar{
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  height: 39px;
}

.menu{
  margin-top: 80px;
}

.menu-item{
  margin-left: 20px;
}

.fas, .far{
  width: 1em;
  height: 1em;
  margin-right: 10px
}

.shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pill{
  display: inline-block;
  background-color: rgb(36, 41, 46);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
}

.push-rigth {
  float: right;
}

.push-left {
  float: left;
}

.card-block{
  display: block;
  margin: 30px 15px 50px 15px;
  padding: 30px 15px;
  border-radius: 10px;
  word-wrap: break-word;
  /* background-color: darkgrey; */
}

.card-brand{
  margin-left: 20px;
  margin-bottom: 20px;
}

.card-half{
  display: inline-block;
  box-sizing: border-box;
  width: calc(50% - 35px);
  margin: 20px 15px 30px 15px;
  padding: 30px 15px;
  border-radius: 10px;
  /* background-color: pink; */
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: powderblue;
  cursor: pointer;
  opacity: 1;
}
