*{
  padding: 0px;
  margin: 0px;
}

a{
  display: block;
  text-decoration: none;
  background-color: darkgray;
  color: black;
}

i{
  margin-right: 10px;
  vertical-align: bottom;
}

.wrap{
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidebar{
  height: 100%;
  width: 17%;
  position: fixed;
  background-color: grey;
  overflow-x: scroll;
}

.main{
  position: fixed;
  height: 100%;
  width: 83%;
  margin-left: 17%;

  text-align: center;
  background-size: cover;
  background-position: center;
  color: black;
}

.brand{
  display: block;
  font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
  margin: 10% auto;
}

.sidebar-item{
  padding: 10px 20px;
  background-color: darkgray;
  border-top: 1px solid black;
}

.sidebar-item:hover{
  border-left: 5px solid grey;
  background-color: #404040;
  color: white;
}

.active{
  border-left: 5px solid black;
}
